.re {
  fill:rgb(255, 255, 255);
  stroke-width:3;
  stroke:rgb(0,0,0);
  width: 100px;
  height: 100px;
}

.pos {
  position:fixed;
  width:100px;
  height:100px;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: visible;
}

#bc {
  position: fixed;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  background-color: #000000;
}

#goal {
  color: rgb(222, 222, 222);
  position: fixed;
  left: 50%;
  top: 80%;
  transform: translate(-50%, 0);
  font: italic bold 40px sans-serif;
}
